<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{if $pageTitle}
	<title>{$pageTitle}</title>
{else}
	<title>{control navigation:title} - {_$adminName}</title>
{/if}
	{control css}
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	{_$header|noescape}
</head>
<body class="skin-{$skin}">
	<div class="wrapper">
		<header class="main-header">
			<a href="{plink $rootItem->link}" class="logo">{_$adminName}</a>
			<nav class="navbar navbar-static-top" role="navigation" n:block="navbar">
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
					<span class="sr-only">{_'Toggle navigation'}</span>
				</a>
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav" n:if="$user->identity">
						<li class="dropdown user user-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-user"></i>
								<span class="hidden-xs">{$userName}</span>
								<i class="caret"></i>
							</a>
							<ul class="dropdown-menu">
								<li class="user-header">
									<img src="{$basePath}/{$userImage}" class="img-circle" alt="User Image"/>
									<p>
										{$userName}
									</p>
								</li>
								<li class="user-footer">
									<div class="pull-left" n:if="$profileUrl">
										<a href="{$profileUrl}" class="btn btn-default btn-flat">{_'Profile'}</a>
									</div>
									<div class="pull-right">
										<a n:href="signOut" class="btn btn-default btn-flat">{_'Sign out'}</a>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<aside class="main-sidebar">
			<section class="sidebar">
				{form searchForm class=>'sidebar-form'}
					<div class="input-group">
						<input type="text" n:name="key" class="form-control" placeholder="{_'Search'}"/>
						<span class="input-group-btn">
							<button type='submit' name='search' id='search-btn' class="btn btn-flat">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				{/form}
				{block menu}{control navigation:menu class => 'sidebar-menu', subclass => 'treeview-menu', openClass => 'active', open => TRUE}{/block}
			</section>
		</aside>

		<div class="content-wrapper">
			<section class="content-header">
			<h1>{if $pageName}{$pageName}{else}{control navigation:title}{/if}</h1>
			{block breadcrumb}{control navigation:breadcrumb}{/block}
			</section>
			<section class="content">
				<div n:foreach="$presenter->template->flashes as $flash" class="alert alert-{$flash->type} fade in" n:block="flashes">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{_$flash->message}
				</div>
				{$content|noescape}
			</section>
		</div>
		<footer class="main-footer" n:block="footer">
		{_$footer|noescape}
		</footer>
	</div>
	{block scripts}
	{control js}
	{/block}
</body>
</html>
