{templateType Kollarovic\Admin\AdminTemplate}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	{if $pageTitle}
		<title>{$pageTitle}</title>
	{else}
		<title>{control title} - {_$adminName}</title>
	{/if}

	{control css}

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<style>
		ul.treeview-menu li i.fa:before {
			content: "\f10c";
		}
	</style>

	{if $header}
		{_$header|noescape}
	{/if}

</head>
<body class="hold-transition skin-{$skin} sidebar-mini {if $sidebarCollapse}sidebar-collapse{/if}">

	<div class="wrapper">

		<header class="main-header">

			<a href="{plink $rootItem->getLink()}" n:class="logo,$ajax ? ajax">
				<span class="logo-mini">{_$adminShortName}</span>
				<span class="logo-lg">{_$adminName}</span>
			</a>

			<nav class="navbar navbar-static-top" n:block="navbar">

				<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
					<span class="sr-only">{_'Toggle navigation'}</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						{$navbar|noescape}

						<li class="dropdown user user-menu" n:if="$user->identity">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-user"></i>
								<span class="hidden-xs">{$userName}</span>
								<i class="caret"></i>
							</a>
							<ul class="dropdown-menu">
								<li class="user-header">
									<img src="{$basePath}/{$userImage}" class="img-circle" alt="User Image"/>
									<p>
										{$userName}
									</p>
								</li>
								<li class="user-footer">
									<div class="pull-left" n:if="$profileUrl">
										<a href="{$profileUrl}" n:class="$ajax ? ajax,btn,btn-default,btn-flat">{_'Profile'}</a>
									</div>
									<div class="pull-right">
										<a n:href="signOut" class="btn btn-default btn-flat">{_'Sign out'}</a>
									</div>
								</li>
							</ul>
						</li>

					</ul>
				</div>
			</nav>
		</header>

		<aside class="main-sidebar">
			<section class="sidebar">
				{if $showSearchForm}
					{form searchForm class=>'sidebar-form'}
						<div class="input-group">
							<input type="text" n:name="key" class="form-control" placeholder="{_'Search'}"/>
							<span class="input-group-btn">
								<button type='submit' name='search' id='search-btn' class="btn btn-flat">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div>
					{/form}
				{else}
					<br>
				{/if}
				{snippet menu}
					{block menu}{control menu class => 'sidebar-menu', subclass => 'treeview-menu', openClass => 'active', dropdownClass => 'treeview', open => true, ajax => $ajax}{/block}
				{/snippet}
			</section>
		</aside>

		<div class="content-wrapper">
			<section class="content-header" n:snippet="breadcrumb">
				<h1>{if $pageName}{$pageName}{else}{control title}{/if}</h1>
				{block breadcrumb}{control breadcrumb ajax => $ajax}{/block}
			</section>
			<section class="content">
				{snippet flash}
					<div n:foreach="$presenter->template->flashes as $flash" class="alert alert-{$flash->type} fade in" n:block="flashes">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						{_$flash->message}
					</div>
				{/snippet}
				{$content|noescape}
			</section>
		</div>
		<footer class="main-footer" n:block="footer">
			{if $footer}
				{_$footer|noescape}
			{/if}
		</footer>
	</div>

	{block scripts}
	{control js}
	{/block}
</body>
</html>
